<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Recipe name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle">
                Manage recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button">Manage<span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Add ingredient to shopping list</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Edit recipe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Delete recipe</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>
<div class="row">
    <h1 *ngIf="recipeToShow;else selectRecipe">{{recipeToShow.name}}</h1>
    <ng-template #selectRecipe><h3 >Select recipe</h3></ng-template>
</div>
